# vim swap
*.swp

# typescript
/typescript/node_modules
/typescript/package-lock.json

# python
/python/__pycache__

# visual studio
*.vs

# vscode
*.vscode/

# c++ modules
*gcm.cache

# asdf folder
.tool-versions

# rust target
rust/target/

# C output binaries
*.o

# java bytecode
*.class

# c/zig executables
c/cpf
zig/cpf

# C# executables
*.exe

# Odin executables
*.bin
